@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap');
$font1: 'Mulish', serif;
$font2: 'Overpass', sans-serif;
$font3: 'Roboto Mono', monospace;