#site-footer {
  font-family: $font1;
  margin-top: rem(34);
  padding: rem(66) 0;
  text-align: center;
  background-color: var(--main-color);
  
  p{color: white}

  svg path {
    fill: var(--logo-footer-color);
  }

}


.footer-contact {
	align-items: flex-end !important;
	display: flex;
	flex-direction: column;

}


.corporate{
  margin-top: 150px
}


@media screen and (max-width: 768px) {

  .footer-contact {
    align-items: center !important;  
  }
}