.services-page{

  .services__banner {
    height: 480px;
    img{
      padding:0;
      object-fit: cover;
    }
  }


  .content {
    padding-left: rem(70);
  }
}

.services__banner{
  img{
    padding: 0;
  }

  h4{
    position: relative;
  }
  h4::after{
    @include text_underline;
  }

}