.sidebar {


  ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022"; 
    color: #FF4FC0;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  ul {
    a {
      color: #8A8A8A;
    }
  }

  .recent-post {
    display: flex;

    img {
      width: 88px;
      height: 88px;
    }
  }

  .recents-post--text {
    margin-left: rem(25);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 20px;
      margin: 0;

    }

    p {
      color: #adadad;
      font-size: 13px;
      margin: 0;

    }
  }

  .search {
    input {
      border: none;
      border-bottom: 1px solid #E4E4E4;
    }

    margin-bottom: 20px;
  }
}
