.post {
    a {
        text-decoration: none;
    }
    .post-tag{
        display: block;
        padding: rem(7);
        background-color: #F8F8F8;
        width: unset;
        margin-right: rem(10);
        text-decoration: none;
        color: var(--dark-grey);
    }

    .comments{
        display: flex;
        flex-direction: column;
        background-color: #F9F9F9;
        padding: rem(30);
        margin-top: rem(50);


        a {
            color: var(--main-color);

        }

        svg{
            margin-right: rem(10);
        }
    }


    .comment-reply{
        display: flex;
        align-items: center;
    }

    .comment-respond{
        margin-top: rem(139);
        h6{
            font-weight: normal;
        }
    }

    .comment-form{
        
        textarea, input:not([type="submit"]){

            width: 100%;
            border: none;
            border-bottom: 1px solid #E4E4E4;
            
        }
         input[type="submit"]{
            background-color: transparent;
            color: var(--main-color);
            border: none;
         }
    }
}